{% load static %}

<br><br><h1><marquee>Django Calculator</marquee></h1><br><br><br><br><br>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div>
    <table class="center">
        <tr>
        
        <td><a href="add"><button type="button" name="add" class="button button2">Addition</button></a><br></td>
        <td><a href="sub"><button type="button" name="sub" class="button button2">Subtraction</button></a><br></td>
        <td><a href="mul"><button type="button" name="mul" class="button button2">Multiplication</button></a><br></td>
        <td><a href="div"><button type="button" name="div" class="button button2">Division</button></a><br></td>
        
         </tr>
    </table>  
</div>
